.orders{
margin-top: 23px;
 display: flex;   
 
}
.allinfo{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    row-gap: 34px;
    border-right: 1px solid rgba(0,0,0,0.634);
    align-items: center;
    padding-right: 5px;
}
.shipinginformation div {
    display: flex;
}
.shipinginformation{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 11x;
}
.shipinginformation div span{
    padding-left: 10px;
}
.items{
    display: flex;
    align-items: center;
    margin-left: 22px;
}
#price{
    display: flex;
    margin-top: 0px;
    padding-left: 74px;
    color: black;
}
.product_info #prod-1{
    font-size: 15px;
    width: 320px;
    padding-left: 38px;
}
.img{
    width: 86px;
    height: 70px;
}
.cartitems{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 5px;
        row-gap: 27px;
}
.ordersummary{
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    margin-left: 23px;
    padding-left: 95px;
    align-items: center;
    justify-content: center;
    padding-top: 43px;
    font-size: 17px;
}
.ordersummary div{
    display: flex;
    column-gap: 73px;
}
.ordersummary div p{
    width: 70px;
}
.ordersummary .ordbtn{
    width: 200px;
    padding: 8px 2px 8px 2px;
    margin: auto;
    border:none;
    outline: none;
    background-color: rgb(91, 101, 240);
    font-size: 15px;
    cursor: pointer;
    color:white;
}
.ordersummary .ordbtn:hover{
    background-color: blue;
    transition: all 0.5s;
}

.total{
    border-top: 1px solid rgba(0, 0, 0, 0.534);
    padding-top: 10px;
}
.ordersummary>h3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
    padding-bottom: 5px;
}

@media screen and (max-width:950px) {
    .orders{
        flex-direction: column;
    }
    .items{
        font-size: 12px;
    }
    #price{
        font-size: 12px;
    }

    .product_info #prod-1{
        width: 220px;
    }
    .address{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:550px) {
    .items{
        flex-direction: column;
    }
    .ordersummary{
        margin-left: -125px;
    }
    
}