.forgot form{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 33px;
}

.forgot form input{
        font-size: 20px;
        padding-top: 8px;
        border-radius: 30px;
        padding-bottom: 8px;
        text-align: center;
        outline: none;
        border: none;
        width: 400px;
        background-color:  rgb(136, 136, 196);;
}

.forgot form .check_lable{
    position: absolute;
    bottom: 390px;
    right: 480px;
    font-size: 15px;
    cursor: pointer;
}
.forgot form .check_lable_pass{
    font-size: 15px;
    position: absolute;
    right: 480px;
    cursor: pointer;
    bottom: 460px;
}

.forgot form button{
    outline: none;
    border: none;
    width: 400px;
    cursor: pointer;
    background-color: rgb(136, 136, 196);
    border-radius: 30px;
    padding-top: 8px;
    font-size: 20px;
    padding-bottom: 8px;
}
.forgot{
    margin-top: 35px;
}
.conpass{
    position: relative;
}
.pass{
    position: relative;
}